<head>
    <title>{{ site.name }}</title>

    <link rel="icon" type="image/png" href="{{site.baseurl}}/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/bootstrap/css/bootstrap.min.css" />
    <link href='//fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/bootstrap/css/bootstrap-select.css" />

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/typography.css.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/icons.css.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/projects.css.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/buttons.css.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/guide.css.css" />
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/highlight.css.css" />

    {{ head_links }}

    <script type="text/javascript" src="{{site.baseurl}}/js/jquery.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/bootstrap/js/bootstrap-select.js"></script>

    <script type="text/javascript" src="{{site.baseurl}}/js/underscore.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/backbone.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/projectDocumentationWidget.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/application.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/clipboard.min.js"></script>
    <script type="text/javascript">
        var apiBaseUrl = "{{ site.main_site_url }}";
        var projectId = "{{ site.project }}";
        var siteBaseUrl = "{{ site.baseurl }}";
    </script>
    <script type="text/javascript" src="{{site.baseurl}}/js/copySnippets.js"></script>

    {{ head }}

</head>

<body>
    <header class="navbar header--navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="spring-logo--container">
                    <a class="spring-logo" href="{{site.main_site_url}}"><span></span></a>
                </div>
            </div>
        </div>
    </header>

    <div class="body--container">{{ content }}</div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8">
                    &copy; <script type="text/javascript"> var d = new Date();
                    document.write(d.getFullYear());</script> <a href="https://www.trustedchoice.com">TrustedChoice.com</a>, Inc. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer>
    <div id="scrim"></div>

    {{ end_content }}

</body>
